<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>filename</param-name>
        <param-value>http://www.berkut.mk.ua/download/test/q_.txt</param-value>
    </context-param>
    <context-param>
        <param-name>dirimages</param-name>
        <param-value>http://berkut.mk.ua/download/test/img/</param-value>
    </context-param>
    <context-param>
        <param-name>numofblocks</param-name>
        <param-value>4</param-value>
    </context-param>
    <context-param>
        <param-name>questionsbyblocks</param-name>
        <param-value>10 10 15 15</param-value>
    </context-param>
</web-app>